body {
    background-color: black;
}

div.display {
    background-color: teal;
    padding: 5px;
    height: 2em;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

div.keys-face {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 300px;
    margin: auto;
}

.key {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.key:hover {
    background-color: lightgray;
}